<!DOCTYPE html>
<html>

<head>
    <title>Your Machine Learning App</title>
</head>

<body>
    <!-- <form name="form", method="POST", style="text-align: center;">
            <br>
            Height: <input type="number" name="height", placeholder="Enter height in cm" required/>
            <br><br>
            Weight: <input type="number" name="weight", placeholder="Enter weight in kg" required/>
            <br><br>
            <button>Run</button>
        </form> -->

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" value="Upload" />
    </form>
    <p style="text-align: center;">
        <img src="{{ img_path }}" alt="">
        {{ output }}
    </p>
    <ul>
        <li>Prediction: {{ predicted_class }}</li>
        <li>Confidence: {{ confidence }}</li>
    </ul>
</body>

</html>